<header class="site-header">

  <nav class="global-header-bar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header active"><a class="global-header-logo" href="#">JetBrains</a></div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/">IntelliJ IDEA</a></li>
          <li><a href="https://kotlinlang.org">Kotlin</a></li>
          <li><a href="/_includes/pages/pycharm.html">PyCharm</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://twitter.com/jetbrains">Twitter</a></li>
          <li><a href="https://github.com/jetbrains">GitHub</a></li>
          <li><a href="https://devnet.jetbrains.com/community">Community</a></li>
        </ul>
      </div>

    </div>
  </nav>

</header>
