
<p>
    At JetBrains, we build the world's most powerful developer tools. Some of these tools and have public APIs, others are partially open source, and many are completely free to modify, reuse and distribute. This year, we delivered over
    <span id="yearlycommits"></span> individual commits to the open source community. And by using and contributing to open source projects at JetBrains, your support has the potential to help over 400,000 developers and growing around the world.
</p>

<p>
    A few of our open source projects at JetBrains include:

<ul>
    <li><a href="https://upsource.jetbrains.com/idea-community/">IntelliJ IDEA CE</a>... How to
        <a href="https://github.com/JetBrains/intellij-community/blob/master/CONTRIBUTING.md">contribute to IntelliJ IDEA</a>.
    </li>
    <li><a href="https://github.com/JetBrains/intellij-community/tree/master/python">PyCharm CE</a>... How to
        <a href="https://github.com/JetBrains/intellij-community/blob/master/CONTRIBUTING.md">contribute to PyCharm</a>
    </li>
    <li><a href="https://github.com/JetBrains/kotlin">Kotlin</a>... How to
        <a href="https://github.com/JetBrains/kotlin#contributing">contribute to Kotlin</a></li>
    <li><a href="https://github.com/jetbrains/mps">MPS</a>... How to
        <a href="https://github.com/jetbrains/mps#building-mps-from-sources">contribute to MPS</a></li>
</ul>

<p>
    Over
    <span id="totalcontributors"></span> developers have contributed to JetBrains software through the years, including
    <span id="externalcontributors"></span> community contributors who have never worked at JetBrains. Here are some of our most active contributors this year:

<div id="leaderboard">
    <ul></ul>
</div>

<p>


<p>
Learn how to contribute to your favorite JetBrains tool. All open source JetBrains software is hosted
<a href="https://github.com/JetBrains/">on GitHub</a>, meaning that contributing is fast, easy and familiar.

<div id="opensource-projects"></div>

