.global-header-bar {
  position: fixed;

  box-sizing: border-box;
  padding: 8px 0;
  height: 70px;

  background-color: rgba(24, 35, 51, 0.7);
}

.global-header-logo {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
  opacity: 0.8;
  float: left;
  width: 150px;
  height: 55px;
  background: url("/assets/images/logos-sprite@2x.png") 0 -100px no-repeat;
  font-size: 0;
  text-decoration: none;
}